:root{
    --primary-color: #becdd6;
    --header-color: #f4f5fa;
    --side-main-color: #0d69a8;
    --side-dark-color: #08446d;


    

}
#header {
    background: var(--header-color);
    width: 100%;
    height:15%;
    position:absolute;
    top:0;
    border-bottom: 2px solid gray;


}
#student-list {
    height:40%;
    overflow-y:auto;
}
.student-container {
    height:70%;
    overflow-y:auto;
    text-align: center;
}
body{
    background: var(--primary-color) !important;
    margin:0 !important;
    height:100% !important;
}
#logo{
    width: 10%;
    position: absolute;
    left: 0;
    margin: 2%;


}
#side-panel{
    background: var(--side-main-color);
    width: 30%;
    height: 100%;
    position: absolute;
    right: 0;

}
#add-student-button{
   display:flex;
   align-items: center;
   justify-content: center;
    bottom: 2%;
    position: absolute;
    margin-top:100%;
    background: var(--header-color);
    color: var(--side-main-color);
    height: 5%;
    box-shadow: none;
    border-style:solid;
    width:30%;
    border-radius: 6pt;
    margin-left:auto;
    margin-right:auto;
    transition: all .2s;
}

#add-student-button:hover {
    background: var(--side-dark-color);
    color: var(--header-color);
    border:none;
}

#detailSection {
    position: absolute;
    background:var(--header-color);
    border-radius:6pt;
    width: 50%;
    height:60%;
    top:25%;
    left: 5%;
    border: 1px solid gray;
}

#options {
    width:10%;
    height:15%;
    position: absolute;
    right: 0;
    margin: 2px;
    text-align:center;
    z-index: 100;
}

#options div {
    background: var(--header-color);
    width:4px;
    height:4px;
    margin:2px;
    display: block;
}